<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Placeholder title{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!--The navigation bar at the top of the page-->
    <div class="nav" id="navBar">
        <div class="expand">
            {% if not user.is_authenticated %}
            <a href="/login" title="Log in to your account">Log in</a>
            <a href="/signup" title="Create an account">Create account</a>
            {% endif %}
            <a href="/settings" title="Settings page">Settings</a>
            <a href="/help" title="Help page">Help</a>
        </div>
        <button class="home" type="image" onclick="location.href='/'" title="Home page"></button>
        <button class="menu"title="Expand Menu" onclick="expandMenu()"><div class="menu-bar"></div><div class="menu-bar"></div><div class="menu-bar"></div></button>    
    </div>
    
    <!--The container for content in all other pages-->
    <div class="container">{% block content %}{% endblock %}</div>
    
    <!--Flash message handling-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "error" %}
            <div class="flash" style="background-color:#ebbcba; color: var(--hl3);">
            {% elif category == "success" %}
            <div class="flash" style="background-color: var(--pc3); color: var(--hl4);">
            {% else %}
            <div class="flash" style="background-color: var(--hl1); color: var(--hl3);">
            {% endif %}
                <label style="padding-left: 16px;">{{message}}</label>
                <button type="button" class="close" onclick="this.parentElement.style.display = 'none';" title="Close message">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <script>
        function expandMenu() {
            var nav = document.getElementById("navBar");
            if (nav.className === "nav") {
                nav.className += " responsive";
            } else {
                nav.className = "nav";
            }
        } 
    </script>
</body>
</html>