{% extends "base.html" %}{%block title %}Admin dashboard{% endblock %}
{% block content %}
<!-- The admin dashboard -->
<h1>Admin dashboard</h1>
<hr>
<div style="display: grid; grid-template-columns: auto auto auto; gap: 20px; margin-bottom: 10px;" id="resource-buttons">
    <!-- Management buttons -->
    <button type="button" class="button1" name="add" onclick="resourceAction(this)">Add</button>
    <button type="button" class="button1" name="delete" onclick="resourceAction(this)">Delete</button>
    <button type="button" class="button1" name="edit" onclick="resourceAction(this)">Edit</button>
</div>
<input type="text" class="search" placeholder="&#8981;  Search topics" onkeyup="searchBar(this.value)">
<!-- Display of all the topics resources  -->
<div style="padding: 5px 10px; gap:10px; display: grid; grid-template-columns: 30px 180px 250px;">
    <label style="text-align: center">ID</label>
    <label style="text-align: center">Topic name</label>
    <label style="text-align: center">Topic path</label>
</div>
<div id="dashboard-container"></div>
<!-- Pop-up panels -->
<div id="dashboard-popup">
    <div id="popup-container">
        <div>
            <label>Topic name:</label>
            <input type="text" class="search" id="topic-name" placeholder="Enter topic's name..">
            <label>Topic path:</label>
            <input type="text" class="search" id="topic-path" placeholder="Enter topic's path...">
            <button type="button" class="button1" onclick="document.location.href = 'topic/'+topic[0]+'?editing=true'">Edit resource content</button>
        </div>
        <p style="display: none;">Are you sure that you want to delete this topic resource permanently?<br><b></b></p>
        <div>
            <label>New topic name:</label>
            <input type="text" class="search" id="new-topic-name" placeholder="Enter new topic's name..">
            <label>New topic path:</label>
            <input type="text" class="search" id="new-topic-path" placeholder="Enter new topic's path...">
        </div>
    </div>
    <button type="button" class="button1" id="confirm">Confirm</button>
    <button type="button" class="button1" name="cancel" onclick="resourceAction(this)">Cancel</button>
</div>

<script>
    let topics = {{topics|tojson}}
    let container = document.getElementById("dashboard-container")
    let buttons = document.getElementById("resource-buttons").children
    let topic
 
    // Disable delete and edit buttons at first
    if (container.getElementsByClassName("active").length == 0) {
        buttons[1].disabled = true
        buttons[2].disabled = true
    }

    // Add in the topics from the query
    for (i=0; i<topics.length; i++) {
        let resource = document.createElement("div")
        for (j=0; j<topics[i].length; j++) {
            let label = document.createElement("label")
            label.innerHTML = topics[i][j]
            resource.appendChild(label)
        }
        resource.addEventListener("click", function() {
            // Selecting a topic resource
            let actives = container.getElementsByClassName("active")
            for (i=0; i<actives.length; i++) {
                if (actives[i] != resource) {actives[i].classList -= "active"}
            }
            resource.classList.toggle("active")
            if (actives.length == 0) {
                document.getElementsByName("delete")[0].disabled = true
                document.getElementsByName("edit")[0].disabled = true
                topic = null
            } else {
                document.getElementsByName("delete")[0].disabled = false
                document.getElementsByName("edit")[0].disabled = false
                topic = []
                for (i=0; i<3; i++) {topic.push(resource.getElementsByTagName("label")[i].innerHTML)}
                document.getElementById("topic-name").value = topic[1]
                document.getElementById("topic-path").value = topic[2]
                document.getElementById("popup-container").children[1].children[1].innerHTML = "&rarr;"+topic[1]
            }
        })
        container.appendChild(resource)
    }

    // Searching function
    function searchBar(value) {
        buttons[1].disabled = true
        buttons[2].disabled = true
        let resources = container.children
        for (i=0; i<resources.length; i++) {
            if (resources[i].classList.contains("active")) {resources[i].classList -= "active"}
            if (value == '') {resources[i].style.display = "grid"}
            let labels = resources[i].children
            if (!(labels[0].innerHTML+labels[2].innerHTML).toLowerCase().includes(value.toLowerCase())) {
                resources[i].style.display = "none"
            }
        }
    }

    // Function for displaying the pop up panel 
    async function resourceAction(button) {
        let popup = document.getElementById("dashboard-popup")
        // Close panel
        if (button.name == "cancel") {
            popup.style.opacity = 0
            popup.style.transform = "translate(-50%, -55%)"
            await delay(300)
            popup.style.display = "none"
            popup.style.transform = "translate(-50%, -45%)"
            document.getElementById("popup-container").children[0].style.display = "none"
            document.getElementById("popup-container").children[1].style.display = "none"
            return
        }
        popup.style.display = "grid"
        await delay(50)
        popup.style.opacity = 1
        popup.style.transform = "translate(-50%, -50%)"
        let confirm = document.getElementById("confirm")
        if (button.name == "edit") {
            confirm.name = "edit"
            for (i=0; i<3; i++) {
                let buttonI = document.getElementById("popup-container").children[i]
                if (i == 0) {buttonI.style.display = "grid"} else {buttonI.style.display = "none"}
            }
        } else if (button.name == "delete") {
            confirm.name = "delete"
            for (i=0; i<3; i++) {
                let buttonI = document.getElementById("popup-container").children[i]
                if (i == 1) {buttonI.style.display = "block"} else {buttonI.style.display = "none"}
            }
        } else {
            confirm.name = "add"
            for (i=0; i<3; i++) {
                let buttonI = document.getElementById("popup-container").children[i]
                if (i == 2) {buttonI.style.display = "grid"} else {buttonI.style.display = "none"}
            }
        }
    }

</script>


{% endblock %}
