{% extends "base.html" %} {%block title %}Home{% endblock %}
{% block content %}
<!--The homepage-->
<div style="width: min-content; margin: auto;">
<h1>Maths Visualisation</h1>
<input type="text" class="search" placeholder="&#8981;  Search topics" onkeyup="searchBar(this.value)">
<hr>
</div>
<!-- Topic lists displayed as a expandable/collapsible tree list -->
<div id="container-topics">
    {% for topic in topics%}
        {% if topic[1] == 0 %} <!-- Topic heading, eg: "GCSE", "A Level" -->
            <button class="depth{{topic[1]}} category" onclick="expandTopic(this)"><li class="topic-li">{{topic[0]}}</li></button>
            <hr>
        {% elif topic[2] is undefined %} <!-- Sub-topics (categories) -->
            <button style="margin-left: {{1.5*(topic[1])}}em;" class="depth{{topic[1]}} sub category" onclick="expandTopic(this)"><li class="topic-li">{{topic[0]}}</li></button>
        {% else %} <!-- Links to the actual topic resources -->
            <a style="margin-left: {{1.5*(topic[1])}}em;" class="depth{{topic[1]}} sub topic-link" href="/topic/{{topic[2]}}"><li style="list-style: circle outside;">{{topic[0]}}</li></a>
        {% endif %}
    {% endfor %}
</div>
<label id="not-found" style="font-size: 24px; font-style: italic; text-align: center; color: var(--hl3); overflow: hidden; height: 0px; transition: height 0.2s;">Topics not found...</label>
<script>
    // Function to expand/collapse the list whenever it is clicked
    function expandTopic(x) {
        // Get all sub-topics
        var sibs = [], child = [], elem = x.nextElementSibling
        var depth = parseInt(x.className[5])
        while (elem && elem.parentElement == x.parentElement && !(elem.className[5] == depth)){
            if (elem.className[5] == (depth+1)) {sibs.push(elem);}
            if (parseInt(elem.className[5]) >= (depth+1)) {child.push(elem);}
            elem = elem.nextElementSibling
        }
        // Collaspe all levels
        if (x.classList.contains("expanded")) {
            for (let i = 0; i < child.length; i++) {
                if (child[i].classList.contains("expanded")) {
                    child[i].classList.toggle("expanded")
                    child[i].firstChild.classList.toggle("rotated")
                }
                child[i].style.height = null;
                child[i].style.transform = "translateX(-75px) scale(0)"
            }
        }
        // Expand next level
        else {
            for (let i = 0; i < sibs.length; i++) {
                sibs[i].style.height = "1.5em"
                sibs[i].style.transform = "translateX(0px) scale(1)"
            }
        }
        x.firstChild.classList.toggle("rotated")
        x.classList.toggle("expanded")
    } 
    // Search bar function
    function searchBar(q) {
        var topics = document.getElementById("container-topics").children
        // Reset and collapse every topic before searching
        document.getElementById("not-found").style.height = "0"
        for (let i = 0; i < topics.length; i++) {
            if (topics[i].tagName == "HR") {topics[i].style.width = '100%'}
            else if (topics[i].className[5] == '0') {
                topics[i].style.marginTop = "1em"
                topics[i].style.height = "1.5em"
                if (topics[i].classList.contains("expanded")) {expandTopic(topics[i])}
            } else {topics[i].style.height = "0px"}}
        if (q == "") {return}
        // When search is not empty
        let filtered = []
        for (let i = 0; i < topics.length; i++) {
            if (topics[i].tagName != 'A' && topics[i].tagName != "BUTTON") {continue}
            // If topic matches with search
            if (topics[i].textContent.toLowerCase().includes(q.toLowerCase())) {
                filtered.push(topics[i])
                // Get all the parent topics of that topic
                let j = i-1, k = parseInt(topics[i].className[5])-1
                while (j > -1 && k > -1) {
                    if (parseInt(topics[j].className[5]) == k || topics[j].tagName == "HR") {
                        if (!filtered.includes(topics[j])) {filtered.push(topics[j])}
                        if (topics[j].tagName != "HR") {k--}} j--}
                // Get all the child topics of that topic
                if ((topics[i].tagName == "BUTTON")) {
                    let j = i+1, k = parseInt(topics[i].className[5])
                    while (j < topics.length) {
                        if (parseInt(topics[j].className[5]) > k || topics[j].tagName == "HR") {
                            if (!filtered.includes(topics[j])) {filtered.push(topics[j])}
                            j++
                        } else {break}}}}}
        // Display the filtered topics
        if (filtered.length == 0) {document.getElementById("not-found").style.height = "2em"}
        for (let i = 0; i < topics.length; i++) {
            if (!filtered.includes(topics[i])) {
                if (topics[i].tagName == "HR") {topics[i].style.width = "0%"}
                else {
                    topics[i].style.height = '0px'
                    topics[i].style.marginTop = '0px'
                }
            } else if (topics[i].tagName == "BUTTON") {
                expandTopic(topics[i])
            }
        }
    }
</script>
{% endblock %}