{% extends "base.html" %} {%block title %}Home{% endblock %}
{% block content %}
<!--The login section-->
<div style="width: min-content; margin: auto;">
<h1>Maths Visualisation</h1>
<input type="text" class="search" placeholder="&#8981;  Search topics">
<hr>
</div>
<!-- Topic lists displayed as a expandable/collapsible tree list -->
<div id="container-topics">
    {% for topic in topics%}
        {% if topic[1] == 0 %} <!-- Topic heading, eg: "GCSE", "A Level" -->
            <button class="depth{{topic[1]}} category" onclick="expandTopic(this)"><li class="topic-li">{{topic[0]}}</li></button>
            <hr>
        {% elif topic[2] is undefined %} <!-- Sub-topics (categories) -->
            <button style="margin-left: {{1.5*(topic[1])}}em;" class="depth{{topic[1]}} sub category" onclick="expandTopic(this)"><li class="topic-li">{{topic[0]}}</li></button>
        {% else %} <!-- Links to the actual topic resources -->
            <a style="margin-left: {{1.5*(topic[1])}}em;" class="depth{{topic[1]}} sub topic-link" href="/topic/{{topic[2]}}"><li style="list-style: circle outside;">{{topic[0]}}</li></a>
        {% endif %}
    {% endfor %}
</div>
<script>
    // Function to expand/collapse the list whenever it is clicked
    function expandTopic(x) {
        // Get all sub-topics
        var sibs = [], child = [], elem = x.nextElementSibling
        var depth = parseInt(x.className[5])
        while (elem && elem.parentElement == x.parentElement && !(elem.className[5] == depth)){
            if (elem.className[5] == (depth+1)) {sibs.push(elem);}
            if (parseInt(elem.className[5]) >= (depth+1)) {child.push(elem);}
            elem = elem.nextElementSibling
        }
        // Expand next level
        if (x.classList.contains("expanded")) {
            for (let i = 0; i < child.length; i++) {
                if (child[i].classList.contains("expanded")) {
                    child[i].classList.toggle("expanded")
                    child[i].firstChild.classList.toggle("rotated")
                }
                child[i].style.height = null;
                child[i].style.transform = "translateX(-75px) scale(0)";
            }
        }
        // Collaspe all levels
        else {
            for (let i = 0; i < sibs.length; i++) {
                sibs[i].style.height = sibs[i].scrollHeight+5 + 'px';
                sibs[i].style.transform = "translateX(0px) scale(1)";
            }
        }
        x.firstChild.classList.toggle("rotated")
        x.classList.toggle("expanded")
    } 
</script>
{% endblock %}