{% extends "base.html" %} {%block title %}Progress{% endblock %}
{% block content %}
<!--The progress page-->
<h1>Progress</h1>
<hr style="margin-bottom: 1em; width: 50%;">
<div class="progress-container">
    <label>Explored topics:</label>
    <label>Accuracry:</label>
    <label>Completion:</label>
</div>
<hr>
<!-- Where the actual progress table with be -->
<div class="progress-container">
</div>
<script>
    let progress = {{progress|tojson}}
    let container = document.getElementsByClassName("progress-container")[1]

    // Function to calculate the percentage and format the label and color for it
    function percentageCalc(i,j) {
        let div = document.createElement("div")
        let percentage = document.createElement("label")
        let dot = document.createElement("label")
        percentage.innerHTML = (Math.round(progress[i][j]*100))+"%"
        dot.innerHTML = "  &#9679"
        if (Math.round(progress[i][j]*100) < 34) {dot.style.color = "var(--pink)"}
        else if (Math.round(progress[i][j]*100) > 68) {dot.style.color = "var(--pc3)"}
        else {dot.style.color = "var(--yellow)"}
        div.appendChild(percentage)
        div.appendChild(dot)
        return div
    }

    // Iterate through the table and create respective elements
    for (i=0; i<progress.length; i++) {
        let topic = document.createElement("a")
        topic.href = "/topic/"+progress[i][2]
        topic.innerHTML = progress[i][3]
        container.appendChild(topic)
        container.appendChild(percentageCalc(i,1))
        container.appendChild(percentageCalc(i,0))
    }
</script>
{% endblock %}
