/* ========== Root to declare colours to reference later as a colour palette ========== */
:root {
    --pc1: #286983;
    --pc2: #56949f;
    --pc3: #9ccfd8;
    --hl1: #d9dce4;
    --hl2: #dfdad9;
    --hl3: #575279;
    --hl4: #2a283e;
}

/* ========== Base class selectors that would be use in most pages ========== */
* {
  box-sizing: border-box;
}

/* Nav bar */
.nav {
    display: flex;
    width: auto;
    height: 4em;
    background-color: var(--pc1);
    overflow: hidden;
    transition: height 0.3s;
}
.nav button.home {
    margin: 5px 15px;
    width: 170px;
    height: 54px;
    background: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    transition: opacity 0.1s;
}
.nav button.home:hover {opacity: 0.75;}
.nav button.home:active {opacity: 1;}
.nav a {
    display: block;
    float: right;
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: var(--hl1);
    cursor: pointer;
    transition: color 0.1s;
}
.nav a:hover {text-decoration: underline; color: var(--pc3);}
.nav a:active {text-decoration: underline; color: var(--pc3);}

/* Expand nav bar */
.nav button.menu div.menu-bar{
    background-color: var(--hl1);
    width: 24px;
    height: 2px;
    margin: 5px 11px;
}
.nav button.menu {
    display: none;
    position: absolute;
    right: 0%;
    background-color: var(--pc1);
    border: none;
    border-radius: 4px;
    transition: filter 0.1s, outline 0.1s;
    width: 54px;
    height: 54px;
    margin: 10px 10px;
}
.nav button.menu:hover {filter: brightness(1.1);}
div.expand {
    position: absolute;
    width: 70%;
    right: 0%;
    transition: height 0.3s;
    overflow: hidden;
}

/* Responsive breakpoint for nav bar on smaller devices*/
div.responsive button.menu {outline: 2px solid var(--pc2);}
div.responsive {
    height: 16em;
}
div.responsive > div.expand {
    border-top: 1px solid var(--hl3);
    height: 12em;
    display: grid;
    top: 4em;
    grid-template-columns: 50%;
}
@media screen and (max-width: 700px) {
    .nav button.menu {
        display: block;
    }
    div.expand {
        width: 100%;
        display: grid;
        grid-template-columns: 50%;
        background-color: var(--pc2);
        height: 0em;
        top: 4em;
    }
    .nav a {
        text-align: left;
        padding-top: 15px;
        padding-bottom: 0px;
        height: 0px;
    }
    div.responsive a {
        display: flex;
        padding-top: 15px;
        padding-bottom: 10px;
        height: auto;
        text-align: left;
    }
}
/* General elements */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    font-weight: 400;
    color: var(--pc1);
    margin: auto;
    text-align: center;
    margin-top: 2em;
}
hr {
    width: 100%;
    height: 2px;
    background-color: var(--pc1);
    border: none;
}
.container {
    display: grid;
    height: auto;
    justify-content: center;
    overflow-x: scroll;
    margin: 4em 2em;
}
.button1 {
    background-color: white;
    border: 1px solid var(--pc1);
    border-radius: 4px;
    padding: 7px 20px;
    text-align: center;
    color: var(--pc1);
    font-size: 18px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.1s, color 0.1s;
}
.button1:hover {background-color: whitesmoke;}
.button1:active {
    background-color: white;
    color: var(--pc2);
    border: 1px solid var(--pc2);
}

/* Flash message */
.flash {
    position: relative;
    transition: height 0.3s;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--hl3);
    overflow: hidden;
}
.close {
    position: absolute;
    left: 100%;
    transform: translateX(-2.4em);
    background: none;
    border: none;
    cursor: pointer;
    height: 2em;
    width: 2em;
    font-size: 26px;
    color: var(--hl3);
    transition: opacity 0.1s;
    opacity: 0.75
}
.close:hover {opacity: 1;}
/* Responsive breakpoint for general elements on smaller devices*/
@media screen and (max-width: 500px) {
    h1 {
        margin-top: 1em;
    }
    hr {
        width: 90%;
    }
}
    
    
    
/* ========== Login & signup page class selectors ========== */
.form {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--hl1);
    color: var(--hl4);
    font-family: serif;
    font-size: 18px;
padding-left: 7px;
height: 24px;
width: 300px;
}
.form:focus {
    filter: brightness(0.9);
    transition: 0.1s;
}
.form-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-left {
    width: 90px;
    grid-column: 1;
    margin: auto;
}
.form-right {
    grid-column: 2;
    width: 300px;
    margin: auto;
    justify-content: center;
}
.form-requirement {
    grid-column: 1 / span 2;
    max-width: 400px;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 15px;
}
/* Responsive breakpoint for input form on smaller devices*/
@media screen and (max-width: 500px) {
    .form-left {
        width: auto;
        grid-column: 1 / span 2;
        margin: auto;
    }
    .form-right {
        grid-column: 1 / span 2;
        width: auto;
        margin: auto 15px;
    }
    .form {
        padding-left: 7px;
        height: 24px;
        width: 100%;
    }
    .form-requirement {
        font-style: italic;
        font-size: 15px;
        padding-bottom: 15px;
        margin: auto 15px;
    }
}