/* ========== Root to declare colours to reference later as a colour palette ========== */
:root {
    --pc1: #286983;
    --pc2: #56949f;
    --pc3: #9ccfd8;
    --hl1: #d9dce4;
    --hl2: #dfdad9;
    --hl3: #575279;
    --hl4: #2a283e;
    --bg: #ffffff;
    --pink: #ebbcba;
    --yellow: #f6c177;
    --invert: 0%;
    --contrast: 1;
    --border: none;
    --mjx-fg-black: --hl4 !important;
}

/* ========== Base class selectors that would be use in most pages ========== */
* {
  box-sizing: border-box;
}

/* General elements */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: var(--hl4);
    margin: 0;
    padding: 0;
    min-width: 320px;
    background-color: var(--bg);
    filter: contrast(var(--contrast));
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    font-weight: 400;
    color: var(--pc1);
    margin: auto;
    text-align: center;
    margin-top: 2em;
    width: max-content;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    font-weight: 400;
    color: var(--pc1);
    margin: 10px;
    text-align: left;
    margin-top: 1em;
    width: fit-content;
}
hr {
    width: 100%;
    height: 2px;
    background-color: var(--pc1);
    border: none;
    overflow: hidden;
    transition: width 0.3s;
}
.container {
    opacity: 0;
    display: grid;
    height: auto;
    justify-content: center;
    overflow-x: visible;
    padding: 4em 2em;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.5s;
}
.button1 {
    background-color: var(--bg);
    border: 1px solid var(--pc1);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 7px 20px;
    text-align: center;
    color: var(--pc1);
    font-size: 18px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 0.1s, outline 0.1s, transform 0.3s, opacity 0.3s;
    white-space: normal;
}
.button1:hover:not(:disabled) {
    background-color: var(--hl1);
}
.button1:active:not(:disabled) {
    background-color: var(--bg);
    color: var(--pc2);
    border: 1px solid var(--pc2);
}
.button1.active {
    outline: 3px solid var(--pc2);
    color: var(--pc2);
    border: 1px solid transparent;
}
.button1:disabled {
    opacity: 0.5;
    cursor: default;
}
.a {
    color: var(--pc2);
    text-decoration: none;
}
.a:hover, .a:active {text-decoration: underline;}

/* Flash message */
.flash {
    position: relative;
    transition: height 0.3s;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--hl3);
    overflow: hidden;
}
.close {
    position: absolute;
    left: 100%;
    transform: translateX(-2.4em);
    background: none;
    border: none;
    cursor: pointer;
    height: 2em;
    width: 2em;
    font-size: 26px;
    color: var(--hl4);
    transition: opacity 0.1s;
    opacity: 0.75
}
.close:hover {opacity: 1;}
/* Responsive breakpoint for general elements on smaller devices*/
@media screen and (max-width: 500px) {
    h1 {
        margin-top: 0em;
        width: 90vw;
    }
}
/* Nav bar */
.nav {
    display: flex;
    width: auto;
    height: 4em;
    background-color: var(--pc1);
    overflow: hidden;
    transition: height 0.3s;
}
.nav button.home {
    margin: 5px 15px;
    width: 170px;
    height: 54px;
    background: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    filter: invert(var(--invert));
    transition: opacity 0.1s;
}
.nav button.home:hover {opacity: 0.75;}
.nav button.home:active {opacity: 1;}
.nav a {
    display: block;
    float: right;
    padding: 25px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: var(--hl1);
    cursor: pointer;
}
.nav a:hover {
    text-decoration: underline; color: var(--pc3); 
    transition: color 0.1s;
}
.nav a:active {text-decoration: underline; color: var(--pc3);}

/* Expand nav bar */
.nav button.menu div.menu-bar{
    background-color: var(--hl1);
    width: 24px;
    height: 2px;
    margin: 5px 11px;
}
.nav button.menu {
    display: none;
    position: absolute;
    right: 0%;
    background-color: var(--pc1);
    border: none;
    border-radius: 4px;
    transition: filter 0.1s, outline 0.1s;
    width: 54px;
    height: 54px;
    margin: 10px 10px;
}
.nav button.menu:hover {filter: brightness(1.1);}
div.expand {
    position: absolute;
    width: 70%;
    right: 0%;
    transition: height 0.3s;
    overflow: hidden;
}

/* Responsive breakpoint for nav bar on smaller devices*/
div.responsive button.menu {outline: 2px solid var(--pc2);}
div.responsive {
    height: 16em;
}
div.responsive > div.expand {
    border-top: 1px solid var(--hl3);
    height: 12em;
    display: grid;
    top: 4em;
    grid-template-columns: 50%;
    grid-template-rows: 3em;
}
@media screen and (max-width: 700px) {
    .nav button.menu {
        display: block;
    }
    div.expand {
        width: 100%;
        display: grid;
        background-color: var(--pc2);
        height: 0em;
        top: 4em;
    }
    .nav a {
        text-align: left;
        padding-top: 15px;
        padding-bottom: 0px;
        height: 0px;
    }
    div.responsive a {
        display: flex;
        padding-top: 15px;
        padding-bottom: 10px;
        height: auto;
        max-height: 3em;
        text-align: left;
    }
}
    
    
    
/* ========== Login & signup page========== */
.form {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--hl1);
    color: var(--hl4);
    font-family: serif;
    font-size: 18px;
    padding-left: 7px;
    height: 24px;
    width: 300px;
    grid-column: 1 / span 2;
}
.form:focus {
    filter: brightness(0.9);
    transition: 0.1s;
}
.form-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-left {
    width: auto;
    grid-column: 1;
    margin: auto 0;
}
.form-right {
    grid-column: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    width: 100%;
    margin: auto;
    justify-content: left;
}
.form-requirement {
    grid-column: 1 / span 2;
    max-width: 400px;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 15px;
}
.radio {
    grid-row: 1;
    cursor: pointer;
    padding-left: 28px;
    margin-right: 28px;
    width: 100%;
    transition: opacity 0.2s;
}
.radio input{display: none;}
.radio:has(input:disabled) {
    text-decoration: line-through;
    opacity: 0.5;
}
.checkmark {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    top: 50%;
    height: 1em;
    transform: translate(-30%, -50%);
    width: 1em;
    border: 1px solid var(--hl4);
    background-color: var(--bg);
    border-radius: 50%;
    text-align: center;
}
.checkmark span {
    display: none;
    height: 0.5em;
    width: 0.5em;
    margin: 0.2em auto;
    border-radius: 50%;
    background-color: var(--pc2);
}
.radio:hover {
    cursor: pointer;
    color: var(--pc2);
    text-decoration: underline;
    transition: color 0.1s
}
.radio:hover .checkmark{
    background-color: var(--hl1);
    transition: background-color 0.2s;
}
.radio:hover .checkmark:has(+ input:checked) {
    background-color: var(--pc3);
    outline: 2px solid var(--pc3);
}
.checkmark:has(+ input:checked) {
    outline: 2px solid var(--pc2);
    border: 2px solid var(--bg);
    background-color: var(--pc2);
}

/* Responsive breakpoint for input form on smaller devices*/
@media screen and (max-width: 500px) {
    .form-left {
        width: auto;
        grid-column: 1 / span 2;
        margin: auto;
    }
    .form-right {
        grid-column: 1 / span 2;
        width: 100%;
        justify-content: center;
        grid-template-columns: 40% 40%;
        margin: auto;
    }
    .form {
        padding-left: 7px;
        height: 24px;
        width: 100%;
    }
    .form-requirement {
        font-style: italic;
        font-size: 15px;
        padding-bottom: 15px;
        margin: auto 15px;
    }
}



/* ========== Home page ========== */
.search {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--hl1);
    color: var(--hl4);
    font-family: serif;
    font-size: 18px;
    padding-left: 10px;
    height: 2em;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.search:focus {
    filter: brightness(0.9);
    transition: 0.1s;
}
#container-topics {
    display: grid;
    width: 40vw;
    margin: auto;
    min-width: 22em;
}
.category {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: var(--hl4);
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}
.depth0 {
    height: 1.5em;
    overflow: hidden;
    margin-top: 1em;
    color: var(--pc1);
    font-size: 34px;
    transition: height 0.2s, margin-top 0.2s;
}
.category:hover, .category:active {
    opacity: 0.75;
}
.topic-link {
    font-size: 22px;
    color: var(--pc2);
    text-decoration: none;
    width: fit-content;
}
.topic-link:hover, .topic-link:active {
    text-decoration: underline;
}
.sub {
    overflow: hidden;
    height: 0px;
    transform: translateX(-75px) scale(0);
    transition: height 0.2s, padding-top 0.2s, transform 0.3s;
}
.topic-li {
    padding-left: 0.6em;
    padding-top: 1.25em;
    list-style: none inside;
}
.topic-li:before {
    display: flex;
    font-size: 0.7em;
    content: "\0025B6";
    margin: -1.5em -1em;
    transform-origin: 5%;
    rotate: 0deg;
    transition: rotate 0.3s;
    align-items: center;
}
.rotated:before {
    rotate: 90deg;
}
@media screen and (max-width: 500px) {
    #container-topics {
        min-width: 0em;
        width: 80vw;
        hyphens: auto;
        word-wrap: break-word;
    }
}



/* ========== help page ========== */
.help-container {
    display: grid;
    width: 450px;
    margin-top: 0.5em;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}
.help-buttons button{
    margin-bottom: 5px;
}
.help-text {
    display: block;
    gap: 0;
    margin: 1em 0;
}
.help-text p{
    height: 0;
    overflow: hidden;
    padding: none;
    margin: 0;
    opacity: 0;
    hyphens: auto;
    transition: height 0.3s ease-in-out, opacity 0.5s ease-in-out;
}
#end-hr {
    width: 0px;
}
@media screen and (max-width: 500px) {
    .help-container {
        width: 90vw;
        display: block;
    }
    .help-buttons button{
        width: 100%;
    }
}



/* ========== settings page ========== */
.settings-containter {
    display: grid;
    width: 450px;
    margin-top: 0.5em;
    gap: 20px;
    grid-template-columns: 215px 215px;
}
.settings {margin: 1em 0;}
.settings-div{
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.5s ease-in-out;
}
@media screen and (max-width: 500px) {
    .settings-containter {
        width: 90vw;
        gap: 4vw;
        grid-template-columns: 43vw 43vw;
    }
}



/* ========== the resources ========== */
.svg-diagram {
    width: 60vw;
    height: 60vw;
    min-width: 340px;
    min-height: 340px;
    max-width: 640px;
    max-height: 640px;
    padding: 20px;
    margin: auto;
}
.text {
    width: 60vw;
    min-width: 340px;
    max-width: 640px;
    padding: 10px 20px;
    margin: auto;
}
.part {
    border: 1px solid var(--hl1);
    border-radius: 4px;
    margin: auto;
    margin-bottom: 10px;
    opacity: 0;
    height: 0px;
    transition: opacity 0.3s;
    border-radius: 4px;
    background-color: var(--bg);
    filter: drop-shadow(0 3px 4px var(--hl2));
}
.choices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 60vw;
    min-width: 340px;
    max-width: 640px;
    margin: auto;
}
.continue-container {
    width: fit-content;
    height: 50px;
    margin: auto;
    justify-content: center;
    transition: height 0.3s;
}
.control-div {
    padding: 20px;
}
.diagramatics-slider-playbutton,
.diagramatics-slider::-webkit-slider-thumb,
.diagramatics-slider::-moz-range-thumb
{background-color: var(--pc1) !important;}

.diagramatics-slider-playbutton-symbol {
    border-color: transparent transparent transparent var(--bg) !important;
}
.diagramatics-slider {background-color: var(--hl2) !important;}

svg text {
    fill: var(--hl4) !important;
}
.mjx-selected {
    outline: 1px solid var(--hl3) ! important;
}
g rect {
    stroke: 1px solid var(--hl3) ! important;
    background: var(--pc1) !important;
}
#annotate {
    position: sticky;
    width: 120px;
    height: 2em;
    bottom: 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: var(--bg);
    border: 1px solid var(--pc1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    filter: drop-shadow(0 3px 4px var(--hl2));
}
#annotate-options {
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    height: 70%;
    margin: 10px auto;
    gap: 10px;
}
#annotate-button {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: none;
}
.annLabel {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: var(--hl3);
    font-style: italic;
    background: none;
    border: 1px solid var(--pc2);
    border-radius: 4px;
}



/* ========== progress page ========== */
.progress-container {
    display: grid;
    width: 450px;
    margin-top: 0.5em;
    gap: 20px;
    grid-template-columns: 200px 105px 105px;
}
.progress-container a {
    color: var(--pc2);
    text-decoration: none;
}
.progress-container a:hover {text-decoration: underline;}
